# prometheus-config.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-rules
  namespace: monitoring
data:
  prometheus-rules.yaml: |
    groups:
    - name: instance-alerts
      rules:
      - alert: InstanceDown
        expr: up == 0
        for: 5m
        labels:
          severity: critical
        annotations:
          summary: "Instance {{`{{`}} $labels.instance {{`}}`}} down"
    - name: custom-alerts
      rules:
        - alert: TestingAlert
          expr: vector(1) >0
          for: 15s
          labels:
            severity: warning
          annotations:
            summary: "Testing alert has fired"
            runbook_url: google.com
